.footer-container{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  padding-top: 2rem;
  background-color: rgb(255, 255, 255);
}

.footer-contact-information{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.footer-social-media{
  display: flex;
  flex-direction: column;
}

.footer-contact-information-title{
  font-size: 2.5rem;
}

.social-media-title{
  font-size: 2.5rem;
}

.contact-info{
  font-size: 1.5rem;
}

.contact-info span{
  font-weight: bold;
}

.social-media{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}