.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}

.nav-left{
  display: flex;
  align-items: center;
}
.nav-right{
  display: flex;
}
.nav-button{
  margin-right: 3rem;
}

.nav-brand{
  width: min-content;
}

.brand-icon{
  width: 5rem;
}

.nav-search-field{
  margin-left: 3rem;
}

.nav-login-signup{
  display: flex;
}

.login-button{
  margin-right: .7rem;
  padding: .1rem 1rem;
}

.signup-button{
  margin-left: .7rem;
  padding: .1rem 1rem;
  border: 1px solid black;
  border-radius: 6px;
}

a{
  cursor: pointer;
}