.magazine-sidebar{
  display: flex;
  flex-direction: column;
}

.magazine-sidebar-title{
  font-size: 2.5rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
  background-color:#F59E0B;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}

.sidebar-links-container{
  border-bottom: solid 1px;
  margin-bottom: 8rem;
}

.magazine-sidebar-links{
  font-size: 1.5rem;
  font-weight: bold;
}