/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body{
  font-family: "Oswald", sans-serif;
  background-color: rgb(219, 219, 219);
}

.main-content{
  min-height: 100vh;
}

.content-top{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.content-items{
  width:100%;
  margin: 0 auto;
}


h1.c-heading{
  margin: 10px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  letter-spacing: 0.050rem;
  color: rgb(0, 0, 0);
}

.week-date{
  display: inline-block;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-wrapper{
  background-color: rgb(0, 255, 154);
}

.icon-wrapper .icon{
  display: inline-block;
  padding: 0.1rem 0.625rem;
  margin-left: 0.5rem;

}
.icon a{
  color: black;
  stroke: black;
}

.icon svg{
  width: 2rem;
  height: 2.5rem;
}

.content-items{
  height: 100vh;
}

.chart-row {
  padding: 0.5rem;
  background: white;
  list-style: none;
  margin-bottom: .8rem;

}

.chart-row > li:not(.plus) {
  display: inline-block;
  vertical-align: middle;
}

.position-number { 
  width: 5%;
  margin-right: .5rem;
  font-size: 1.5rem;
  font-weight: bold; 
}

.cover { 
  width: 15%; 
}

.arrow { 
  width: 5%; 
  color: rgb(74, 74, 74);
}

.info { 
  width: 60%; 
}

.plus { 
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 25px;
  border: 1px solid;
  border-radius: 50%;
  color: gray;
}

.cover img {
  display: block;
  width: 100%;
  height: auto;
}

.info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
}

.info a {
  display: block;
  text-decoration: none;
  color: inherit; 
}

.info a:hover {
  color: rgb(0, 63, 250);
  text-decoration: underline;
}
.metrics-desktop {
  display: none;
}

.metrics-wrapper{
  display: inline-block;
}

.metrics-mobile span {
  margin-right: .2rem;
  font-size: .75rem;
  font-weight: 700;
}

.metrics-wrapper .metrics-label {
  font-weight: 700;
  color: gray;
}

@media(min-width: 768px){
  h1.c-heading{
    font-size: 3rem;
    text-align: left;
  }
}

@media(min-width: 2560px){
  h1.c-heading{
    font-size: 4rem;
    text-align: left;
  }
}

@media(min-width: 768px){
  .c-content{
    width: 100%;
    overflow: hidden;
  }
}

@media(min-width: 768px){
  .week-date{
    float: left;
  }
}

@media(min-width: 1024px){
  .week-date{
    float: left;
    margin-left: .1rem;
    border: solid 1px;
  }
}

@media(min-width: 768px){
  .icon-wrapper{
    float: right;
    background: none;
  }
}

@media(min-width: 768px){
  .icon-wrapper .icon svg{
    width: 50px;
    fill: #00ff9a;
    stroke: #00ff9a;
    background-color: black;
  }
}

@media(min-width: 768px){
  .info{
    width: 30%;
    margin-left: 1rem;
  }
}

@media(min-width: 1024px){
  li.info h3,
  li.info a,
  li.info span{
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .metrics-mobile {
    display: none;
  }

  .position-number {
    text-align: center;
  }

  .arrow {
    width: 20px;
    margin-left: 1rem;
  }

  .metrics-desktop {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

  .metrics-desktop .metrics-wrapper {
    display: block;
    margin-bottom: .5rem;
  }

  .metrics-desktop .metrics-value {
    font-weight: 700;
    margin-left: 1rem;
  }

  .plus{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-left: 5rem;
    line-height: 30px;
    font-size: 35px;
  }
}

@media(min-width: 1024px){
  .position-number{
    font-size: 3rem;
  }

  .arrow{
    width: 30px;
  }

  .metrics-desktop{
    font-size: 1.2rem;
  }
}