html {
  overflow-y: scroll;
}


body {
  font-family: var(--font-primary);
  margin: 0;
  width: 100%;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: currentColor;
}

/* styles for scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}