.banner-container{
  background-image: linear-gradient(to right, #0F3F3A , #0E5A4F);
  color: white;
  border-radius: 8px;
  margin-bottom: 1rem;

  @media(width >= 768px){
    margin-bottom: 3rem;
  }
}

.banner-wrapper{
  width: 90%;
  margin: 0 auto;

  @media(width >= 992px){
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
  }
}

.banner-title{
  font-size: 1.4rem;
  margin: 1rem 0;

  @media(width >= 768px){
    font-size: 2rem;
  }

  @media(width >= 2000px){
    font-size: 4rem;
  }
}

.text-intro{
  font-size: .8rem;
  margin-bottom: 1rem;

  @media(width >= 768px){
    font-size: 1rem;
  }

  @media(width >= 2000px){
    font-size: 2rem;
  }
}

.img-banner-image{
  margin-bottom: 1rem;

  @media(width >= 992px){
    margin: 0;
    padding: 1rem 0;
  }
}