.header-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
}

.brand-info-container{
  display: flex;
  align-items: end;
}

.brand-logo{
  margin-right: .5rem;
}

.header-container svg{
  width: 2rem;
}


@media(width >= 768px){
  .brand-logo svg{
      width: 3rem;
  }

  .brand-name{
    font-size: 1.5rem;
  }

  .menu{
    font-size: 1.5rem;
  }
}


@media(width >= 2000px){
  .brand-logo svg{
    width: 6rem;
    margin-right: 1rem;
  }

  .brand-name{
    font-size: 3rem;
  }

  .menu{
    font-size: 2.5rem;
  }
}