.entry-content{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  .products-header{
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
  }


  .order-by{
    display: flex;
    gap: 1rem;

    #select-date{
      padding: 0 .8rem;
      border-radius: 12px;
      border: solid 2px var(--border-ligth-gray);
    }
  }
  .products-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: solid 1px var(--border-ligth-gray);
    border-radius: 12px;

    .card-image{
      border-radius: 12px 12px 0 0;
    }

    .card-info{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem;

      .card-price{
        font-size: 1.6rem;
        font-weight: bold;
        color: #895100;

      }

      .btn.see-details{
        padding: .5rem 0;
        color:#ffffff;
        background-color: var(--color-primary);
        border-radius: 22px;
        border: transparent;
      }
    }
  }

  .products-pagination{
    display: flex;
    justify-content: center;

    .pagination{
      display: flex;
      gap: 1rem;
      align-items: center;

      .page{
        background: none;
        border: 1px solid transparent;
        padding: .2rem .7rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .page:not(.active):hover {
        cursor: pointer;
        background-color: revert;
      }
  
      .active{
        color: #ffffff;
        border-color:var(--color-primary);
        background-color:var(--color-primary);
      }
    }
  }
}


/* aside css */

.fieldset{
  padding: 1rem;
  margin-top: 1rem;
  border: solid 1px var(--border-ligth-gray);
  border-radius: 12px;


  .filter-title{
    font-size: 1rem;
    text-transform: uppercase;
  }

  .filter-value{
    font-size: .9rem;
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: .5rem;
  }

  .border-bottom{
    border-bottom: 1.5px solid var(--light-gray);
  }

  .money-range{
    display: flex;
    justify-content: space-between;
  }

  .aside-checkbox-categories{
    .filter-value{
      display: flex;
      gap: .4rem;
      align-items: center;

      input[type="checkbox"]{
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  .tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: var(--font-weight-medium);
  }

  .tag-organic {
    background-color: #f0f3ff;
    color: #3b52d4;
  }

    .tag-premium {
      background-color: #f7f0e6;
      color: #8c6828;
    }

    .tag-novelty {
      background-color: #e8f5f3;
      color: #0d838a;
    }
}