.entry-content{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  .products-header{
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
  }

  .products-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: solid 1px #0000001a;
    border-radius: 12px;

    .card-image{
      border-radius: 12px 12px 0 0;
    }

    .card-info{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem;

      .card-price{
        font-size: 1.6rem;
        font-weight: bold;
        color: #895100;

      }

      .btn.see-details{
        padding: .5rem 0;
        color:#ffffff;
        background-color: var(--color-primary);
        border-radius: 22px;
        border: transparent;
      }
    }
  }

  .products-pagination{
    display: flex;
    justify-content: center;

    .pagination{
      display: flex;
      gap: 1rem;
      align-items: center;

      .page{
        background: none;
        border: 1px solid transparent;
        padding: .2rem .7rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .page:not(.active):hover {
        cursor: pointer;
        background-color: revert;
      }
  
      .active{
        color: #ffffff;
        border-color:var(--color-primary);
        background-color:var(--color-primary);
      }
    }
  }
}


/* aside filters */

.fieldset{
  padding: 1rem;

  .aside-checkbox-categories{
    display: flex;
    flex-direction: column;
  }

  .money-range{
    display: flex;
    justify-content: space-between;
  }
}