.catalog{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;

  .product-category-title{
    font-size: 2rem;
    color: rgb(49, 49, 49);
  }
  .fruits-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.164);
  }

  .product-image-container{
    width: 50%;
    margin-top: 1rem;
  }

  .product-image{
      width: 100%;
      height: 200px;
      border-radius: 12px;
  }
  .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-name{
      font-size: 1.24rem;
    }
    .product-description{
      font-size: .9rem;
      color: rgb(41, 41, 41);
    }
    .product-price{
      font-size: 1.2rem;
    }
    .product-buy-button{
      padding: .3rem 1.8rem .3rem 1.8rem;
      margin-bottom: 1rem;
      font-size: .9rem;
      color: white;
      background: linear-gradient(rgb(0, 0, 0), rgb(54, 54, 54));
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
